.login-container {
  background-color: #000000;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-form {
  background-color: #272727;
  padding: 40px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-logo {
  width: 140px;
  margin-bottom: 25px;
}
.form-label {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Roboto';
}
.form-input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #7e858e;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  font-size: 15px;
}
.form-submit-btn {
  color: #ffffff;
  background-color: #6366f1;
  border: 0;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 5px;
  height: 40px;
  cursor: pointer;
}
.error-message {
  color: #ff0b37;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .login-container {
    padding: 15px;
  }
  .login-form {
    width: 100%;
  }
}
